*{
    padding: 0;
    margin: 0;
}
main{
    width: 100%;
    background-image:url(./main\ imgae.jpeg);
    background-size: cover;
    height: 100%;

}
.main-img{
    height: 800px;
    background-color: black;
    opacity: 50%;

}
.main-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
}
.main-text h1{
    color: white;
    font-size: 120px;
    font-weight:900;
    margin: auto;
    font-family: sans-serif;
    text-align: center;
}
.main-text p{
    color: white;
    font-size: 20px;
    font-weight: 300;
    margin: auto;
    font-family: sans-serif;
    text-align: center;
    margin-top: 10px;
}
.main-text button{
    margin: auto;
    position: absolute;
    top: 135%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    background-color: #E21835;
    border: none;
    border-radius: 50px 50px 50px 50px;
    padding: 22px 50px;
    font-weight:lighter;
    cursor: pointer;
    transition: all 1s;
}
.main-text button:hover{
    background-color: #240858;
}