*{
    padding: 0;
    margin: 0;
}
body{
    font-family: sans-serif;
}
main{
    width: 100%;
    background-image:url(./main\ imgae.jpeg);
    background-size: cover;
    height: 100%;

}
.main-img{
    height: 800px;
    background-color: black;
    opacity: 50%;

}
.main-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
}
.main-text h1{
    color: white;
    font-size: 120px;
    font-weight:900;
    margin: auto;
    font-family: sans-serif;
    text-align: center;
}
.main-text p{
    color: white;
    font-size: 20px;
    font-weight: 300;
    margin: auto;
    font-family: sans-serif;
    text-align: center;
    margin-top: 10px;
}
.main-text button{
    margin: auto;
    position: absolute;
    top: 135%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    background-color: #E21835;
    border: none;
    border-radius: 50px 50px 50px 50px;
    padding: 22px 50px;
    font-weight:lighter;
    cursor: pointer;
    transition: all 1s;
}
.main-text button:hover{
    background-color: #240858;
}
.about{
    display: flex;
    background-image: linear-gradient(40deg, #E31836 7%, #FFFFFF 57%);
}

.img-right{
    display: flex;
    gap: 1rem;
}
.about-right{
    width: 60%;
    margin: 180px 20% 0px 60px ;    
}
.right-text{
    margin-top: 10%;
    font-family: "Poppins", Sans-serif;
    font-size: 17px;
    font-weight: 300;
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 32px;
}
.about-left{
    width: 60%;
    margin: 5% 0px 0px 5%;
    font-size: 2rem;
}
.about-left h2{
    margin-bottom: 50px;
    font-weight:500;
    font-family: "Poppins", Sans-serif;
}
hr{
    width: 20%;
    margin-bottom: 10px;
    background-color: #240858;
    height: 1px;
    border:black;
}
.exp-video{
    position: relative;
    margin: auto;
    width: 80%;
}
.exp-video h1{
    margin: auto;
    text-align: center;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 3.7vw;
}
